* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#navbar::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8;
}

#logo {
    margin: 10px 34px;
}

#logo img {
    height: 65px;
    margin: 3px 6px;
}

#navbar ul {
    display: flex;
    justify-content: center;
}

#navbar ul li {
    list-style: none;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    font-family: cursive;
    position: relative;
    left: 320px;
    margin-top: 8px;
}

#navbar ul li a:hover {
    background-color: white;
    color: tomato;
}

#navbar ul li a:active {
    background-color: rgb(223, 29, 29);
    color: white;
}

#name {
    color: red;
    font-size: 2.1em;
    font-family: "Tourney", cursive;
    margin-top: 6px;
    font-weight: bold;
}

.btn {
    position: relative;
    left: 21rem;
    padding: 15px 25px;
    background-color: rgba(238, 33, 26, 0.952);
    border-radius: 42px;
}

button:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

#home {
    display: flex;
    flex-direction: column;
    height: 550px;
    padding: 3px 90px;
    justify-content: center;
}

#home::before {
    content: "";
    position: absolute;
    height: 642px;
    background-image: url(gy.jpg);
    background-position: center center/cover;
    background-repeat: no-repeat;
    z-index: -1;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.55;
}

#home h5 {
    color: rgb(240, 11, 11);
    font-size: 1.5em;
    position: relative;
    right: 4rem;
}

#home pre {
    font-size: 1.5rem;
    font-family: "Oswald", sans-serif;
    position: relative;
    right: 4rem;
}

.quote {
    position: relative;
    left: 50rem;
    bottom: 12rem;
    font-family: cursive;
    text-shadow: 2px 1px;
    font-size: 1.7rem;
}

.bt {
    width: 15%;
    padding: 15px;
    position: relative;
    left: 200px;
    bottom: 90px;
    background-color: rgba(238, 33, 26, 0.952);
    font-size: medium;
}

#abo img {
    width: 43em;
    display: flex;
    margin-right: 15px;
}

#about {
    display: flex;
    /* align-items: center; */
    background-color: black;
    color: white;
    margin: 70px 0px;
}

.abou h2,
.a {
    color: red;
    position: relative;
    top: 70px;
    margin: 50px;
}

.a {
    font-family: "Oswald", sans-serif;
    font-size: 1.7em;
    color: white;
}

#cent {
    position: relative;
    top: 90px;
    text-align: center;
    font-size: 2em;
}

#about p {
    color: white;
    position: relative;
    top: 130px;
}

#service-section::before {
    content: "";
    width: 100%;
    height: 1100px;
    background-image: url(g4.jpg);
    background-repeat: no-repeat;
    /* background-position: center center; */
    background-size: 1400px 900px;
    position: absolute;
    z-index: -1;
    opacity: 0.76;
    left: 0px;
}

.ser {
    position: relative;
    top: 100px;
    left: 80px;
    margin: 25px;
}

#service-head {
    font-size: 2em;
}

#service-p {
    color: white;
    font-size: 2.6em;
    font-family: "Oswald", sans-serif;
}

#service-section {
    display: flex;
    margin: 14px;
    flex-direction: column;
}

.box {
    border: 4px solid white;
    margin: 10px;
    display: flex;
    width: 50%;
    flex-direction: column;
    position: relative;
    top: 170px;
    height: 420px;
    background-color: rgb(255, 145, 0);
    border-radius: 24px;
    padding: 4px 7px;
}

.box img {
    width: 13em;
    height: 10em;
    display: block;
    margin: auto;
}

#colu {
    display: flex;
}

.box h4 {
    text-align: center;
    position: relative;
    bottom: 40px;
}

#box-3 img {
    width: 18em;
    border: 8px solid white;
}

.box p {
    position: relative;
    bottom: 18px;
}

#service-section hr {
    position: relative;
    top: 15rem;
    width: 100vw;
    left: 0px;
}

.gallery {
    display: flex;
    margin-top: 280px;
    height: 600px;
}

.gallery img {
    width: 100%;
    padding: 8px;
}

#img-1 {
    margin-left: 4px;
}

#img-1 h3 {
    position: relative;
    bottom: 16em;
    left: 3em;
    color: rgb(223, 29, 29);
    font-size: 2em;
}

#trainer {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

#member img {
    padding: 50px;
    height: 20em;
}

#member {
    height: 550px;
    width: 100%;
}

#member h3 {
    margin: 30px;
    color: red;
}

#member h2 {
    margin-left: 50px;
    font-family: "Oswald", sans-serif;
    font-size: 2.1em;
}

#member h5 {
    text-align: center;
    position: relative;
    bottom: 40px;
    font-size: 1.5em;
}

#contact img {
    max-width: 35em;
    margin-top: 100px;
    margin-left: 2px;
}

.contact img {
    position: relative;
    bottom: 2.8rem;
}

#contact {
    display: flex;
    background-color: black;
}

#for {
    position: relative;
    top: 17em;
    left: 7em;
}

#contact h3 {
    position: relative;
    bottom: 4em;
    right: 2em;
    color: red;
}

#contact h2 {
    position: relative;
    bottom: 1.2em;
    font-size: 1.8em;
    font-family: "Oswald", sans-serif;
    color: white;
}

input {
    background-color: black;
    color: white;
}

input:focus {
    outline: none;
}

input[type="text"] {
    padding: 2em;
    max-width: 100em;
    text-transform: capitalize;
    border: 2px solid black;
    border-bottom: 3px solid gray;
    margin-right: 3em;
}

input[type="number"] {
    padding: 2em;
    max-width: 100%;
    border: 2px solid black;
    border-bottom: 3px solid gray;
}

select {
    padding: 2em;
    max-width: 100%;
    border: 2px solid black;
    border-bottom: 3px solid gray;
    background-color: black;
    color: white;
}

select:focus {
    outline: none;
}

input[type="email"] {
    padding: 2em;
    max-width: 100em;
    border: 2px solid black;
    border-bottom: 3px solid gray;
    margin-right: 3em;
}

input[type="submit"] {
    padding: 1.5em;
    max-width: 30em;
    background-color: rgb(223, 29, 29);
    border-radius: 24em;
    position: relative;
    left: 13em;
}

input[type="submit"]:hover {
    background-color: red;
    color: white;
    cursor: pointer;
}

textarea::placeholder {
    position: absolute;
    top: 4.1rem;
    left: 11rem;
    font-size: 1.5rem;
    font-family: cursive;
    color: white;
    opacity: 0.5;
}

textarea {
    font-size: 1.03rem;
    position: relative;
    right: 3rem;
    text-transform: capitalize;
    background-color: black;
    color: white;
    border: black;
}

#end::before {
    content: "";
    height: 600px;
    width: 100%;
    background-image: url(g9.jpg);
    background-position: center center/ cover;
    background-repeat: no-repeat;
    background-size: 80em 60em;
    position: absolute;
    z-index: -1;
    /* opacity: 0.7; */
}

footer {
    margin-top: 40px;
}

#schedule {
    position: relative;
    top: 8em;
    left: 3em;
    color: white;
}

#schedule h2,
h5 {
    margin: 1.5em;
}

#schedule h2 {
    font-size: 2rem;
    position: relative;
    right: 1rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-style: oblique;
}

#schedule h5 {
    position: relative;
    /* left: 1.2em; */
    font-size: 1.3rem;
}

#end pre {
    position: relative;
    top: 18em;
    left: 26em;
    color: white;
    z-index: 5;
}

pre strong {
    color: rgb(230, 17, 17);
    font-family: "Tourney", cursive;
    font-size: 2.5em;
}

#end hr {
    position: relative;
    top: 16em;
}